DDDNetCore.csproj.nuget.dgspec.json
DDDNetCore.csproj.nuget.g.props
DDDNetCore.csproj.nuget.g.targets
DDDSample1.csproj.nuget.dgspec.json
DDDSample1.csproj.nuget.g.props
DDDSample1.csproj.nuget.g.targets
project.assets.json
project.nuget.cache