obj/DDDNetCore.csproj.nuget.dgspec.json
obj/DDDNetCore.csproj.nuget.g.props
obj/DDDNetCore.csproj.nuget.g.targets
obj/DDDSample1.csproj.nuget.dgspec.json
obj/DDDSample1.csproj.nuget.g.props
obj/DDDSample1.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
